<div class="container">
  <form method="POST" action="/avocados">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" name="name" type="text" placeholder="Name" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Country of Origin</label>
      <div class="control">
        <input class="input" name="origin" type="text" placeholder="Country of Origin" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" name="image" type="text" placeholder="Image" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Tasting Notes (380 chars max length)</label>
      <div class="control">
        <textarea class="textarea" name="tastingNotes" placeholder="Tasting Notes (380 chars max length)" maxlength="380"></textarea>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</div>
