<%# INDEX    GET   /avocados    Show all the avocados

URL EXAMPLE:
8000/recipes %>
<%# CATEGORISE AVOCADO RECIPE TYPE %>
<main class="container">
  <div class="row">
    <div class="col-md-3">
      <form method="GET" id="recipeType-form">
        <div class="form-group">
          <select class="form-control" id="exampleSelect2">
            <option selected disabled>Avocado Recipe Type</option>
            <option>Mashed</option>
            <option>Baked</option>
            <option>Chopped</option>
            <option>Blended</option>
            <option>Frozen</option>
          </select>
        </div>
      </form>
    </div>
  </div>

<%# prints background home page image print to the screen%>
  <div class="row">
    <% recipes.forEach(recipe => { %>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <a href="/recipes/<%= recipe.id %>">
          <div class="tile" style="background-image:url(<%= recipe.image %>)">
            <div class="tile-inner">
              <h3><%= recipe.name %></h3>
            </div>
          </div>
        </a>
      </div>
    <% }) %>
  </div>
</main>
