<%# NEW    GET   /recipes/new    An empty form for the user

URL EXAMPLE:
8000/recipes/new%>

<div class="container">
  <form method="POST" action="/recipes">
    <div class="field">
      <label class="label">Name Of Recipe</label>
      <div class="control">
        <input class="input" name="name" type="text" placeholder="Name" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Recipe Method</label>
      <div class="control">
        <input class="input" name="method" type="text" placeholder="Recipe Method" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" name="image" type="text" placeholder="Image" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Ingredients</label>
      <div class="control">
        <input class="input" name="ingredients" type="text" placeholder="Ingredients" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Tasting Notes (380 chars max length)</label>
      <div class="control">
        <textarea class="textarea" name="tastingNotes" placeholder="Tasting Notes (380 chars max length)" maxlength="380"></textarea>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</div>
